* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

html {
  background-color: #cbcbcb;
  background-image: url("./assets/img/floor.jpg");
  background-repeat: no-repeat;
  display: block;
}

body {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  border-bottom: 10px solid black;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    position: absolute;
  }
}


.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(100px);
}


@media (max-width: 480px) {
  .weather-box {
    width: 100%;
    height: 100vh;
  }
}

.App {
  width: 550px;
  height: 500px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 30px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  
}


@media (max-width: 956px) {
  .App {
    width: 600px;
    height: 500px;

  }
}

@media (max-width: 480px) {
  .App {
    width: 350px;
    height: 420px;
    
    margin: 5px;
  }
}

.content-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-content {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.top-content h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.top-content p {
  font-size: 18px;
  font-weight: 400;
}

.info {
  width: 95%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left h2 {
  font-size: 40px;
  margin-top: 0;
}

@media (max-width: 480px) {
  .left h2 {
    font-size: 30px;
    margin-top: 0;
  } 
}

.icon-weather {
  width: 190px;
  height: 190px;
}

.btn {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  background: #F1EDFF;
  border: none;
}

.btn:hover {
  background-color: #908CC1;
}

.right {
  width: 100%;
  display: flex;

  flex-direction: column;
  margin-left: 10px;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
}


.description h4 {
  font-size: 20px;
}

@media (max-width: 480px) {
  .description h4 {
    font-size: 15px;
  }
}

.text-info {
  font-size: 20px;
}

@media (max-width: 480px) {
  .text-info {
    font-size: 15px;
  }
}

.info-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.person-box {
  width: 50%;
  height: 50vh;
}

@media (max-width: 956px) {
  .person-box {
    width: 0;
    height: 0;
  }
}

.person-config {
  width: 500px;
  height: 500px;
  transform: translatey(150px);
}

@media (max-width: 956px) {
  .person-config {
    display: none;
  }
}

@media (max-width: 480px) {
  .person-config {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.bubble {
  width: 350px;
  height: 140px;
  background: white;
  position: relative;
  right: -350px;
  top: -500px;
  border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  display: table;
  padding: 20px;
}

@media (max-width: 1413px) {
  .bubble {
    display: none;
  }
}

.bubble::after {
  position: absolute;
  display: block;
  content: "";
  top: 130px;
  margin-left: 1px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid white;
  transform: rotate(55deg);
}

.bubble p {
  font-size: 14px;
  padding: 0 5px 0 5px;
  float: left;
  position: relative;
}

.bubble p span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: white;
}

.Typewriter__wrapper {
  width: 100%;
  height: 100%;
}